<div class="flex flex-col pr-2" *ngFor="let button of buttonsData; let i = index">
  <div
    *ngIf="!!button?.date"
    class="
    mb-2
    border
    shadow-robot-btn
    text-green-dark
    w-full
    bg-white
    rounded-lg
    py-5
    px-4
    text-base
    transition
    duration-300"
    role="button"
    [ngClass]="{' shadow-robot-btn-active': active?.toString() === button.id?.toString()}"
    (click)="onClick.emit(button.id)"
  >
    <h3 class="Montserrat-SemiBold">{{button.date | date : 'd/M/yy, H:mm'}}</h3>
    <p  class="Montserrat-Regular text-xs mt-0.5" >
      <span [innerHTML]="'common.extracted'| translate: {total: button.extracted} "></span>
      <span [innerHTML]="'common.duration'| translate: {duration: button.duration} "></span>
    </p>
  </div>
</div>
<ng-content></ng-content>

