<div class="flex flex-col pr-2" *ngFor="let button of buttonsData; let i = index">
  <div
    *ngIf="!!button?.date"
    class="
    mb-2
    border
    border-green
    text-green-dark
    w-full
    bg-white
    rounded-lg
    py-4
    px-3
    text-base
    transition
    duration-300"
    role="button"
    [ngClass]="{'text-gray-white bg-green': active?.toString() === button.id?.toString()}"
    (click)="onClick.emit(button.id)"
  >
    <h3 class="Montserrat-SemiBold">{{button.date | date : 'M/d/yy, H:mm'}}</h3>
<!--    <p class="Montserrat-Regular text-xs mt-0.5" [innerHTML]="'common.duration'| translate: {duration: button.duration}"></p>-->
<!--    <p class="Montserrat-Regular text-xs mt-0.5" [innerHTML]="'common.field'| translate: {field: button.field}"></p>-->
    <p *ngIf="button.extracted" class="Montserrat-Regular text-xs mt-0.5" >
      <span [innerHTML]="'common.extracted'| translate: {total: button.extracted} "></span>
      <span [innerHTML]="'common.duration'| translate: {duration: button.duration} "></span>
    </p>
  </div>
</div>
<ng-content></ng-content>

