<div class="w-full h-full flex items-center">
  <div
    class="bg-white rounded-2xl mx-auto my-auto py-5 px-5 w-full items-center max-w-dashboard-web h-dashboard flex-grow flex justify-center"
  >
    <div *ngIf="isInitialAuth$ | async">
      <div class="max-w-full w-64">
        <app-logo></app-logo>
      </div>
      <router-outlet (activate)="onActivate($event)"></router-outlet>
      <div class="flex justify-center items-center mt-6">
        <app-auth-buttons
          [buttonDisabled]="buttonDisabled$ | async"
          [isLoading]="!(isUserLoading$ | async)"
          [formName]="translationText"
          [translationPrefix]="translationText"
        ></app-auth-buttons>
      </div>
    </div>
  </div>
</div>
