<div class="flex flex-wrap justify-start items-stretch relative p-3">
  <app-title-section
    class="w-1/2 mb-2"
    [title]="translationPrefix + 'title'"
    [big]="true"
  ></app-title-section>
  <app-header class="flex justify-center self-center ml-auto w-1/5"></app-header>
  <app-logo class="ml-3  w-14"></app-logo>
  <div class="flex w-full justify-center gap-4 mt-4 ">
    <div class="flex mx-auto w-4/5 items-center justify-center" [ngClass]="{'flex-col gap-4 ': isMobile, 'gap-9': !isMobile}">
      <app-stat-item
        class="text-xl font-bold w-full"
        [label]="translationPrefix + 'robot'"
        [value]="robot"
      ></app-stat-item>

      <app-stat-item
        class="text-xl font-bold w-full"
        [label]="translationPrefix + 'session'"
        [value]="session | date : 'MMM d, y H:mm'"
      ></app-stat-item>
    </div>
    <div class="ml-auto  ">
      <app-title-section
        class="flex flex-col items-center"

        [title]="translationPrefix + 'online'"
      >
      <fa-icon [icon]="faOnline" [fixedWidth]="true" [ngClass]="{
                  'text-primary-main': status === predefinedStatus.ON,
            'text-gray-200 ': status === predefinedStatus.OFF ,
      }"></fa-icon>
      </app-title-section>

      <app-title-section
        class="flex flex-col items-center"
        [title]="translationPrefix + 'status'"
      >
      <fa-icon [icon]="faActive" [fixedWidth]="true" [ngClass]="{
                  'text-primary-main': status === predefinedStatus.ACTIVE,
              'text-gray-200': status !== predefinedStatus.ACTIVE,
              'text-red-500':
                status === predefinedStatus.PROBLEM ||
                status === predefinedStatus.LEFT_AREA
      } " ></fa-icon>
      </app-title-section>

    </div>

  </div>
</div>
