<div class="flex flex-wrap justify-start items-stretch relative p-6">
  <app-title-section
    class="w-1/2 mb-2"
    [title]="translationPrefix + 'title'"
    [big]="true"
  ></app-title-section>
  <app-logo class="ml-auto w-14"></app-logo>
  <div class="flex w-full justify-end gap-4 mt-4">
    <div class="flex flex-col gap-3">
      <app-stat-item
        class="text-xl font-bold w-full"
        [label]="translationPrefix + 'robot'"
        [value]="robot"
      ></app-stat-item>

      <app-stat-item
        *ngIf="session?.trim()"
        class="text-xl font-bold w-full"
        [label]="translationPrefix + 'session'"
        [value]="session | date : 'MMM d, y H:mm'"
      ></app-stat-item>
    </div>

    <app-header class="flex justify-center self-center w-1/5"></app-header>
  </div>
</div>
