<app-button-main
  *ngIf="!loading"
  css="border-primary-main
  text-white
  shadow-primary-btn
  hover:bg-primary-light
  hover:border-primary-light
  hover:text-primary-dark
  disabled:border-none
  disabled:text-gray
  disabled:bg-gray-white
  disabled:shadow-none
  bg-primary-main"
  [disabled]="true"
  [routerLink]="link"
  [text]="text | translate"
  [formName]="formName"
  (click)="this.click.emit($event)"
>
  <app-spinner [showSpinner]="loading" size="small" ></app-spinner>
</app-button-main>

